@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.hero-bg {
  background: radial-gradient(circle at top left, #74c7b8, #2c6975);
}
